JWT_SECRET=2342920Jw3kfew
JWT_EXPIRATION_TIME=60
BCRYPT_SALT_ROUNDS=10
MAIL_HOST=host
MAIL_PORT=2323
MAIL_USER=user@whoa.com
MAIL_PASS=2332

POSTGRES_HOST=127.0.0.1
POSTGRES_PORT=5432
POSTGRES_USER=whoa_user
POSTGRES_PASSWORD=whoa_user
POSTGRES_DATABASE=whoa

TYPEORM_ENTITIES=./**/*.entity.js
TYPEORM_MIGRATIONS=./db/migrations/*
TYPEORM_DRIVER_EXTRA='{"ssl":false, "maxQueryExecutionTime":1000}'
